{% extends 'layout.twig' %}

{% block title %}
    <h2>Welcome to the home page</h2>
{% endblock %}
{% block main %}
    <span>It was made by Anton Ivaniv</span><br><br>
    <h3><b>Session id: {{ session_id }}</b></h3>

{% endblock %}