{% extends "layout.twig" %}

{% block title %}
    <h2>Login</h2>
{% endblock %}
{% block main %}
    <form action="/login" method="post">
        <div class="form-group">
            <label for="NicknameEmail1">Nickname</label>
            <input type="text" class="form-control" id="NicknameEmail1" name="nickname" placeholder="Enter nickname">
        </div>
        <div class="form-group">
            <label for="InputPassword">Password</label>
            <input type="password" class="form-control" id="InputPassword" name="password"
                   placeholder="Password">
            <a href="/reset"><span>Reset password</span></a>
        </div>
        <input type="hidden" name="{{ nameKey }}" value="{{ name }}">
        <input type="hidden" name="{{ valueKey }}" value="{{ value }}">
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock main %}

