{% extends "layout.twig" %}

{% block title %}
    <h2>This is your profile</h2>
{% endblock %}
{% block main %}
    <div class="container" style="display: flex; flex-direction: column">
        <span>Nickname: {{ nickname }}</span>
        <span>Email: {{ email }}</span>
        {% if admin is not null %}<span>{{  admin  }}</span>{% endif %}
        <a href="/delete/{{ id }}" >
            <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Delete user</button>
        </a>
    </div>
{% endblock %}