{% extends "layout.twig" %}

{% block title %}
    <h2>Registration</h2>
{% endblock %}
{% block main %}
    <form action="/signup" method="post">
        <div class="form-group">
            <label for="NicknameInput">Nickname</label>
            <input class="form-control" id="NicknameInput" name = "nickname" placeholder="Enter nickname">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" name="email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" name="password" id="exampleInputPassword1" placeholder="Password">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword2">Repeat password</label>
            <input type="password" class="form-control" name="repeat" id="exampleInputPassword2" placeholder="Repeat password">
        </div>
        <input type="hidden" name="{{ nameKey }}" value="{{ name }}">
        <input type="hidden" name="{{ valueKey }}" value="{{ value }}">
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock main %}