{% extends 'layout.twig' %}

{% block title %}
    <h2>Enter your new Password</h2>
{% endblock %}
{% block main %}
    <form action="/reset/{{ token }}" method="post">
        <div class="form-group">
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" name="oldPassword" id="exampleInputPassword1" placeholder="Old Password">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" name="password" id="exampleInputPassword1" placeholder="Password">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword2">Repeat password</label>
                <input type="password" class="form-control" name="repeat" id="exampleInputPassword2" placeholder="Repeat password">
            </div>
        </div>
        <input type="hidden" name="{{ nameKey }}" value="{{ name }}">
        <input type="hidden" name="{{ valueKey }}" value="{{ value }}">
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}