{% extends "layout.twig" %}

{% block title %}
    <h2>Resetting your password</h2>
{% endblock %}
{% block main %}
    <form action="/reset" method="post">
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" name="email" id="exampleInputEmail1" aria-describedby="emailHelp"
                   placeholder="Enter your email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <input type="hidden" name="{{ nameKey }}" value="{{ name }}">
        <input type="hidden" name="{{ valueKey }}" value="{{ value }}">
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}