html {
    height: 100%;
}
body{
    min-height: 100%;
    display: flex;
    background-color: #eeeefd;
    flex-direction: column;
    font:19px/1.5 Helvetica,Arial,Verdana,sans-serif;
}


div.main {
    flex: 1;
    padding-top: 4.5%;
    min-height: 100%;
    flex-direction: column;
}


