{% extends '@admin/layoutA.twig' %}

{% block title %}
    <h2>Guest list</h2>
{% endblock %}
{% block guests %}
    <li class="nav-item">
        <a class="nav-link" href="/admin/users">Users</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="/admin/guests">Guests</a>
    </li>
{% endblock %}
{% block main %}
    <table id="example" class="table table-striped table-bordered" style="width:100%">
        <thead>
        <tr>
            <th>Id</th>
            <th>Ip</th>
            <th>User Agnet</th>
            <th>User Id</th>
        </tr>
        </thead>
        <tbody>
        {% for guest in guests %}
            <tr>
                {% for data in guest %}
                    <td>{{ data }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <th>Id</th>
            <th>Ip</th>
            <th>User Agnet</th>
            <th>User Id</th>
        </tr>
        </tfoot>
    </table>
{% endblock main %}