<!DOCTYPE HTML>

<html lang="eu">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Your Website</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="/css/dataTables.bootstrap4.min.css" rel="stylesheet">
    <link href="/css/exam.css" rel="stylesheet">
    <link href="/css/admin.css" rel="stylesheet">
</head>

<body>
<header>
    {% block  header %}
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/profile">Profile</a>
                    </li>
                </ul>
                <div class="my-2 my-lg-0">
                    <div class="nav-item">
                        <a class="nav-link"
                           href="/logout">
                            <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Log out</button>
                        </a>

                    </div>
                </div>
            </div>
        </nav>
    {% endblock header %}
</header>
<div class="main container-fluid">
    <div class="row">
        <div class="col-lg-1 col-sm-1">
            <ul class="nav flex-column nav-pills">
                {% block users %}{% endblock %}
                {% block guests %}{% endblock %}
            </ul>
        </div>
        {% block errors %}
            {% for error in errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        {% endblock %}
        <div class="col-lg-11 col-sm-11">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{% block title %}{% endblock %}</h5>
                    {% block main %}
                    {% endblock main %}
                </div>
            </div>
        </div>
    </div>

</div>
<footer>
    <div class="container">
        <div class="row">
            <div class="col">Copyright 2019 &copy; Anton Ivaniv</div>
            {% block footer %}
            {% endblock footer %}
        </div>
    </div>
</footer>
</body>

<script type="text/javascript" src="/js/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous">
</script>
<script type="text/javascript" src="/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/js/dataTables.bootstrap4.min.js"></script>
<script type="text/javascript" src="/js/cw.js"></script>
</html>