{% extends '@admin/layoutA.twig' %}

{% block title %}
    <h2>User list</h2>
{% endblock %}

{% block users %}
    <li class="nav-item">
        <a class="nav-link active" href="/admin/users">Users</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/admin/guests">Guests</a>
    </li>
{% endblock %}
{% block main %}
    <table id="example" class="table table-striped table-bordered" style="width:100%">
        <thead>
        <tr>
            <th>Id</th>
            <th>Nickname</th>
            <th>Email</th>
            <th>Active user</th>
            <th>Privileged user</th>
            <th>Logged user</th>
            <th onclick="">Delete user</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr id="{{ user.id }}">
                {% for data in user %}
                    <td>{{ data }}</td>
                {% endfor %}
                    <td>
                        <button id="deleteUser" type="submit" onclick="deleteUser({{ user.id }})"
                                class="close" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <th>Id</th>
            <th>Nickname</th>
            <th>Email</th>
            <th>Active user</th>
            <th>Privileged user</th>
            <th>Logged user</th>
            <th>Delete user</th>
        </tr>
        </tfoot>
    </table>
{% endblock main %}

